body{
    background-color: rgb(183, 232, 255);
}

form{
    background: linear-gradient(to left, #99ffcc 0%, #7bc8fc 100%);
    border-radius: 1em;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

form input, textarea{
    border-radius: 5px;
}

form button{
    border-radius: 5px;
    justify-content: end;
}

h1, h2{
    display: flex;
    justify-content: center;
}